<div class="container mt-5 row">
    <div class="col-1"></div>
    <div class="col-5">
        <h1>Edit Data</h1>
      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nama </label>
      <input type="text" class="form-control" [(ngModel)] = "nama" (ngModelChange)="change_value()">
      <div id="emailHelp" class="form-text">Isilah data dengan benar!</div>
    </div>
    <div class="mb-3">
      <label for="floatingTextarea2">Deskripsi</label>
      <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" [(ngModel)]="deskripsi" (ngModelChange)="change_value()"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mx-2">Edit</button>
    <button class="btn btn-danger mx-2" (click)="change_color('red')" >Red Text</button>
    <button class="btn btn-primary mx-2" (click)="change_color('blue')" >Blue Text</button>
  </div>
  <div class="col-2"></div>
  <div class="col-3">
    <h1 class="text-center">Profil</h1>
    <div class="card mt-5" style="width: 18rem;">
        <img src="../assets/img-char.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" [style.color]="color">{{nama}}</h5>
          <p class="card-text" [style.color]="color">{{deskripsi}}</p>
          <a href="#" class="btn btn-primary">Kunjungi Profil</a>
        </div>
      </div>
      <div class="alert alert-primary mt-5" role="alert" *ngIf="berubah">
        Profil dirubah!
      </div>
  </div>
</div>
