<div class="container mt-5" >
  <h1>Produk</h1>
  <div class="card mt-2" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Judul</h5>
      <h6 class="card-text">Deskripsi</h6>
      <p *ngIf="truth">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti ducimus quisquam, praesentium.</p>
      <a href="#" class="btn btn-primary" (click)="changeTruth()">Show or Hide Description</a>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
