<div class="displ">

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/sate.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-success" style="margin-right: 5px;" (click)="addOrderSate()">Tambah</button>
    <a href="#" class="btn btn-danger">Kurang</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/sate.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success" style="margin-right: 5px;">Tambah</a>
    <a href="#" class="btn btn-danger">Kurang</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/sate.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success" style="margin-right: 5px;">Tambah</a>
    <a href="#" class="btn btn-danger">Kurang</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/sate.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success" style="margin-right: 5px;">Tambah</a>
    <a href="#" class="btn btn-danger">Kurang</a>
  </div>
</div>
</div>

