<button mat-button (click)="onDetail()">Detail</button>
<button mat-button routerLink="/add">Add</button>
<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput placeholder="" [(ngModel)]="datafilter">
  <mat-hint>search people</mat-hint>
</mat-form-field>
<p>{{test | uppercase}}</p>
<div class="list-card m-3" style="width: 20%;" *ngFor="let data of datalist | filter:datafilter">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{data.Name| uppercase}}
      </mat-card-title>
      <mat-card-subtitle>
        Profile
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="detail">
      <h5 #idn>IdNumber : {{data.IdNumber}}</h5>
      <h5>Name : {{data.Name}} </h5>
      <h5>Age : {{data.Age}}</h5>
      <h5>Gender : {{data.Gender}}</h5>
      <h5>Email : {{data.Email}}</h5>
      <h5>Position : {{data.Position}}</h5>
      <h5>Martial Status : {{data.MaritalStatus}}</h5>
      <div *ngFor="let addr of data.AddressData">
        <h5>Address : {{addr.Address}}</h5>
        <h5>ZipCode : {{addr.ZipCode}}</h5>
        <h5>City : {{addr.City}}</h5>
        <h5>Country : {{addr.Country}}</h5>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(data.IdNumber)">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
