<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Form Pengisian
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="profileForm" action="">
          <div class="row mt-3">
            <div class="col-sm-6">
              <mat-form-field appearance="legacy">
                <mat-label>Id Number</mat-label>
                <input matInput formControlName="IdNumber" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput formControlName="Name" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-6">
              <mat-form-field appearance="legacy">
                <mat-label>Age</mat-label>
                <input matInput formControlName="Age" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <label>Gender </label><br>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="male"> Male </mat-radio-button>

                <mat-radio-button value="female"> Female </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-6">
              <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput formControlName="Email" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Position</mat-label>
                <mat-select formControlName="Position">
                  <mat-option value="DKI Jakarta">DKI Jakarta</mat-option>
                  <mat-option value="DI Yogyakarta">DI Yogyakarta</mat-option>
                  <mat-option value="Surabaya">Surabaya</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="MaritalStatus">
                  <mat-option value="married">Married</mat-option>
                  <mat-option value="single">Single</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              <mat-form-field appearance="legacy">
                <mat-label>Address</mat-label>
                <input matInput formControlName="Address" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="legacy">
                <mat-label>Zip Code</mat-label>
                <input matInput formControlName="ZipCode" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="legacy">
                <mat-label>City</mat-label>
                <input matInput formControlName="City" placeholder=" ">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="legacy">
                <mat-label>Country</mat-label>
                <input matInput formControlName="Country" placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="kirim()" color="primary">
          Kirim
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-2"></div>
</div>
<button class="btn btn-danger m-5" routerLink="/">Home</button>
